<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
    <mat-card routerLink="users">
      <mat-card-content>
        <mat-icon class="large-icon">account_circle</mat-icon>
        <h2>Users</h2>
        <p>View and manage user data</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <mat-card routerLink="comments">
      <mat-card-content>
        <mat-icon class="large-icon">comment</mat-icon>
        <h2>Comments</h2>
        <p>Manage user comments</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <mat-card routerLink="news">
      <mat-card-content>
        <mat-icon class="large-icon">article</mat-icon>
        <h2>News</h2>
        <p>Read and publish news articles</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <mat-card routerLink="categories">
      <mat-card-content>
        <mat-icon class="large-icon">category</mat-icon>
        <h2>Categories</h2>
        <p>Manage content categories</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
